@use "sass:color";
@use "function.scss" as f;
@use "variables.scss" as v;

%text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: v.$third-color;
    text-decoration: 1px underline v.$primary-color;
}

$classes: 1rem, 2rem, 3rem;
        @each $name in $classes {
         .fs-#{$name} {
            font-size: $name;
         }
        }

.container {
    border: 1px solid v.$secondary-color;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding: 1rem;
    border: 1px solid v.$secondary-color;
    gap: 1rem;
    h1 {
        @extend %text;
    }
    h2 {
        @extend %text;
        border: 1px red solid;
        padding: 1rem;
        width: fit-content;
        align-self: center;
        text-decoration: none;
    }
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        article{
            border: 1px v.$third-color solid;
            width: 100%;
            display: flex;
            p{
                display: flex;
                text-align: center;
                font-size: f.rem(16);
            }
            &:nth-child(odd){
                p{
                    color: v.$primary-color;
                }
            }
            &:nth-child(even){
                p{
                    color: v.$secondary-color;
                }
            }
        }
    }
    &:nth-child(1){
        div {
            width: f.rem(45);
            height: f.rem(45);
            border: 1px red solid;
            @for $var from 1 through 20 {
                $color: black;
                $color: color.adjust($color, $lightness: +5% * $var);
                $background-color: color.invert($color);
                @if $var == 10 {
                    $background-color: blue;
                    $color: red;
                }
                &:nth-child(#{$var}){
                    color: $color;
                    background-color: $background-color;
                    }
               }
        }
    }
 }